/* universal styling */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}
/* styling for the head section */
header {
  position: sticky;
  top: 0;
  width: 100vw;
  background: #ffffff no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 99999;
}
.heading {
  max-width: 1170px;
  height: 65px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading h1 {
  font: normal normal bold 20px/27px "Open Sans";
}
/* styling for the profile */
.profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.user-name {
  font: normal normal normal 12px/17px "Open Sans";
  padding: 10px;
}
.profile-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
/* styling for the main section */
main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1170px;
  padding: 20px 0px;
  justify-content: space-between;
  color: #222222;
}
/* styling for the left container */
.left-container {
  width: 75%;
}
/* styling for the video section */
.video-section {
  border-bottom: 1px solid #d3d3d3;
  padding: 0px 0px 20px 0px;
  position: relative;
}
.video-section .video {
  width: 100%;
  height: 390px;
}
.video-section .play-button {
  position: absolute;
  font-size: 80px;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 99999;
}
.play-button:hover {
  cursor: pointer;
}
.video-description-section {
  padding: 5px;
}
.video-title {
  font: normal normal 500 22px/36px "Open Sans";
  margin: 5px 0px;
}
.video-description {
  font: normal normal normal 12.5px/20px "Open Sans";
}
/* styling for the comments section */
.comments-heading {
  margin: 20px 0px 10px 0px;
  font: normal normal 700 18px/27px "Open Sans";
}
.comment-card {
  display: inline-flex;
  margin: 8px 10px 8px 0px;
}
.profile-photo {
  height: 45px;
  width: 45px;
}
.profile-photo img {
  border-radius: 50%;
  height: 100%;
}
.details {
  padding: 0px 0px 0px 10px;
}
.name {
  font: normal normal 700 13px/24px "Open Sans";
}
.comment {
  font: normal normal normal 11.5px/18px "Open Sans";
}
/* styling for the aside (upcoming projects) */
aside {
  width: 270px;
  min-height: 100vh;
  margin-top: 10px;
}
aside h2 {
  font: normal normal bold 20px/27px "Open Sans";
}
.poster {
  height: 380px;
  width: 270px;
  margin: 5px 0px;
}
/* styling for the footer */
footer {
  width: 100vw;
  background: #222222 no-repeat padding-box;
}
.footer-content {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77px;
  color: #ffffff;
}
.copyright {
  display: flex;
  align-items: center;
  font: normal normal 600 12px/19px "Open Sans";
}
.copyright-symbol {
  font: normal normal normal 18px/24px "Helvetica Neue";
  margin: 5px;
}
.copyright-owner {
  font: normal normal bold 12px/19px "Open Sans";
}
/* styling for messaging icon */
.messaging {
  position: fixed;
  right: 35px;
  bottom: 35px;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #c432ae;
  text-align: center;
  cursor: pointer;
}
.messaging i {
  height: 100%;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  margin-top: 50%;
  transform: translateY(-20%);
}
/* styling for responsiveness */

@media screen and (max-width: 767px) {
  .left-container,
  aside,
  .heading,
  .footer-content {
    width: 92%;
    margin: auto;
  }

  .heading {
    height: 120px;
  }
  .heading h1 {
    font: normal normal bold 32px/27px "Open Sans";
  }
  /* styling for the profile */
  .user-name {
    font: normal normal normal 16px/17px "Open Sans";
    padding: 10px;
  }
  .profile-icon {
    border-radius: 50%;
    width: 55px;
    height: 55px;
  }
  /* styling for the video section */
  .video-section {
    border-bottom: 1px solid #d4d4d4;
    padding: 0px 0px 20px 0px;
  }
  .video-section .video {
    width: 100%;
    height: 340px;
  }
  .video-section .play-button {
    position: absolute;
    font-size: 60px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 99999;
  }

  .video-description-section {
    padding: 5px;
  }
  .video-title {
    font: normal normal 500 28px/36px "Open Sans";
    margin: 10px 0px;
  }
  .video-description {
    font: normal normal normal 20px/30px "Open Sans";
  }
  /* styling for the comments section */
  .comments-heading {
    margin: 20px 0px 10px 0px;
    font: normal normal 700 24px/27px "Open Sans";
  }
  .comment-card {
    display: inline-flex;
    margin: 15px 10px 15px 0px;
  }
  .profile-photo {
    height: 80px;
    width: 80px;
  }
  .profile-photo img {
    border-radius: 50%;
    height: 100%;
  }
  .details {
    padding: 0px 0px 0px 25px;
  }
  .name {
    font: normal normal 600 24px/32px "Open Sans";
  }
  .comment {
    font: normal normal normal 21px/30px "Open Sans";
    margin-top: 10px;
  }
  aside {
    margin: auto;
    margin-top: 25px;
  }
  aside h2 {
    font: normal normal bold 24px/32px "Open Sans";
  }
  .user-name {
    display: none;
  }
  .poster {
    width: 100%;
    height: 100%;
    min-height: 563px;
    min-width: 398px;
  }
  .comments-section {
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 0px;
  }
  aside h2 {
    margin: 15px 0px;
  }
  .poster {
    margin: 10px 0px;
  }
  /* styling for the footer */
  footer {
    width: 100vw;
    background: #222222 no-repeat padding-box;
  }
  .footer-content {
    height: 150px;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
  }
  .copyright-owner {
    font: normal normal bold 38px/30px Open Sans;
  }
  .copyright {
    justify-content: center;
    font: normal normal 600 24px/19px "Open Sans";
  }
  .copyright-symbol {
    font: normal normal lighter 32px/24px "Helvetica Neue";
    margin: 15px;
  }
  /* styling for messaging icon */
  .messaging {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    bottom: 60px;
  }
  .messaging i {
    height: 100%;
    font-size: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .left-container,
  aside,
  .heading,
  .footer-content {
    width: 92%;
    margin: auto;
  }
}
