:root {
  --blue-1: #2d5e90;
  --gray-1: #f6f6f6;
}
/* to override default properties of the tags */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
/* header styling */
.header {
  background-color: var(--blue-1);
  color: white;
  text-align: center;
  font-size: 11px;
  padding: 30px;
}
/* main section styling */
.main {
  width: 85%;
  margin: 30px auto;
  padding-left: 5px;
}
/* splitting into two columns */
.left-div {
  width: 61%;
}
.right-div {
  width: 38.5%;
}
/* styling for the card components*/
.card-container {
  margin: 10px 10px 15px;
}
.card {
  box-sizing: content-box;
  width: 100%;
  border: 1px solid var(--blue-1);
  margin-bottom: 10px;
}
.card-header {
  background-color: var(--blue-1);
  color: white;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
}
.card-content {
  text-align: justify;
  background-color: var(--gray-1);
  line-height: 1.65;
  font-size: 16px;
  padding: 25px;
}
.float-left {
  float: left;
}

@media screen and (max-width: 700px) {
  .left-div {
    width: 100%;
  }
  .right-div {
    width: 100%;
  }
}
