/* colors defined as variables */
:root {
  --background-color-1: #f5f5f5;
  --background-color-2: #ffffff;
  --background-color-input: #fefefe;
  --border-color-input: #d5d5d5;
  --theme-color-1: #071b6d;
  --theme-color-2: #aaaaaa;
  --error-color: #af4c45;
}
/* universal styling */
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color-1);
}
/* styling for header */
.header {
  width: 250px;
  margin: auto;
}
/* styling for the form container */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  background-color: var(--background-color-2);
  box-shadow: 0px 0px 5px var(--theme-color-2);
  margin: auto;
  padding: 20px;
}
.form-section-heading {
  margin: 25px 15px 15px 15px;
  font-size: 18px;
  font-weight: 700;
  color: var(--theme-color-1);
  font-style: monospace;
  letter-spacing: 1.5px;
}
/* styling for the input holder */
.input-holder {
  display: flex;
  flex-direction: column;
  margin: 5px 15px;
}
.row-container {
  display: flex;
}
.input-holder input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid var(--border-color-input);
  background-color: var(--background-color-input);
  padding: 5px;
  margin: auto;
}
.input-holder label {
  font-size: 11px;
  font-weight: 600;
  margin: 5px 0px;
}
/* styling for erroreneous input */
.error-input {
  border: 1px solid var(--error-color) !important;
}
.error-text {
  font-size: 11px;
  color: var(--error-color);
  font-weight: 400;
  margin: 5px 0px;
}

/* to make input container span 50% width */
.span-half {
  flex: 50%;
}
/* styling for submit button */
.submit-button {
  width: 97%;
  margin: 15px;
  padding: 15px;
  font-size: 14px;
  background-color: var(--theme-color-1);
  color: var(--background-color-2);
  border: none;
  border-radius: 5px;
}
